<?xml version="1.0"?>
<launch>

  <!-- Load PID gains for Gazebo controller -->
  <rosparam file="$(find forest_simulation)/config/husky_control.yaml" command="load" />
  <rosparam file="$(find forest_simulation)/config/husky_control_pid.yaml" command="load" />

  <!-- Load SLOAM configuration from YAML file -->
  <rosparam file="$(find sloam)/params/husky.yaml" command="load" />

  <!-- Start Gazebo with the forest world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!-- <arg name="world_name" value="$(find forest_simulation)/worlds/forest.world"/> -->
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- Spawn Husky robot -->
  <include file="$(find husky_gazebo)/launch/spawn_husky.launch">
    <arg name="x" value="0"/>
    <arg name="y" value="0"/>
    <arg name="z" value="0.1"/>
    <arg name="yaw" value="0"/>
    <arg name="joystick" value="false"/>
  </include>

  <!-- Launch RVIZ for visualization -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find forest_simulation)/rviz/forest_robot.rviz" required="true" />
  
  <!-- Teleop control -->
  <node name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen">
    <remap from="cmd_vel" to="/husky_velocity_controller/cmd_vel"/>
  </node>
</launch>