<?xml version="1.0"?>
<launch>  
  <!-- Load PID gains for Gazebo controller -->
  <rosparam file="$(find forest_simulation)/config/husky_control_fix.yaml" command="load"/>

  <!-- Load SLOAM configuration from YAML file -->
  <rosparam file="$(find sloam)/params/husky.yaml" command="load" />
  
  <!-- Set important SLOAM parameters that aren't in the YAML -->
  <param name="/sloam/seg_model_path" value="/opt/sloam_ws/src/sloam_pkgs/models/squeezesegV2-crf_segmentator.onnx" />
  
  <!-- Start Gazebo with the forest world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find forest_simulation)/worlds/forest.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- Spawn Husky robot with VLP16 LiDAR -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find husky_description)/urdf/husky.urdf.xacro'" />
  
  <!-- Using spawn_model directly -->
  <node name="spawn_husky" pkg="gazebo_ros" type="spawn_model" 
        args="-urdf -param robot_description -model husky -z 0.1" />
  
  <!-- Essential TF transformations -->
  <node pkg="tf" type="static_transform_publisher" name="world_to_map" 
        args="0 0 0 0 0 0 world map 100" />
  <node pkg="tf" type="static_transform_publisher" name="map_to_odom" 
        args="0 0 0 0 0 0 map odom 100" />
  
  <!-- Robot state publisher -->
  <node name="husky_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  
  <!-- Controller Manager -->
  <node name="controller_manager" pkg="controller_manager" type="controller_manager" args="spawn joint_state_controller husky_velocity_controller" output="screen"/>
  
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam command="load" file="$(find husky_control)/config/control.yaml" />

  <!-- Launch SLOAM segmentation node -->
  <node pkg="sloam" type="sloam_inference_node" name="segmentation" output="screen" />
  
  <!-- Launch RVIZ for visualization -->
  <node pkg="rviz" type="rviz" name="sloam_rviz" output="screen" args="-d $(find sloam)/launch/rviz/segmentation.rviz"/>
  
  <!-- Teleop control -->
  <node name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen">
    <remap from="cmd_vel" to="/husky_velocity_controller/cmd_vel"/>
  </node>
</launch>