<?xml version="1.0"?>
<launch>
  <!-- Robot spawn position -->
  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0.1"/>
  <arg name="roll" default="0"/>
  <arg name="pitch" default="0"/>
  <arg name="yaw" default="0"/>

  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description" 
         command="$(find xacro)/xacro --inorder '$(find forest_simulation)/urdf/forest_robot.urdf.xacro'" />

  <!-- Run a python script to send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-urdf -model forest_robot -param robot_description -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"/>

  <!-- ROS Control -->
  <rosparam command="load" file="$(find forest_simulation)/config/robot_control.yaml" />
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" 
        args="joint_state_controller
              front_left_wheel_velocity_controller
              front_right_wheel_velocity_controller
              rear_left_wheel_velocity_controller
              rear_right_wheel_velocity_controller"/>

  <!-- Convert joint states to TF transforms -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
    <remap from="/joint_states" to="/forest_robot/joint_states" />
  </node>
</launch>